 <!-- Añadimos aqui el controlador notasController-->
<div data-ng-controller="mainController">

	<div class="container no-padding">
		
		<div class="col-md-12 text-left">
			<img src="img/logocabecera.png"/>	
		</div>
                <div class="col-md-12 col-xs-12 col-ms-12 col-lg-12">
                	
                	
				  <form>
				    <div class="form-group">
				      <div class="input-group">
				        <div class="input-group-addon"><i class="fa fa-search"></i></div>
				        	<input type="text" class="form-control" placeholder="Search" data-ng-model="searchFish">
				      </div>      
				    </div>
				  </form>
  
	                <table data-ng-table="tableParams2" class="table table-striped " >
	              	  <thead>
	                       <tr >
	                       		<td data-ng-click="sortType = 'id'; sortReverse = !sortReverse" style="cursor: hand;">
							            Id 
							            <span data-ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
							            <span data-ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
						        </td>
						        <td data-ng-click="sortType = 'name'; sortReverse = !sortReverse" style="cursor: hand;">
							         	 Name
							            <span data-ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
							            <span data-ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
						        </td>
					            <td data-ng-click="sortType = 'estado'; sortReverse = !sortReverse" style="cursor: hand;">
						          		State 
						            <span data-ng-show="sortType == 'estado' && !sortReverse" class="fa fa-caret-down"></span>
						            <span data-ng-show="sortType == 'estado' && sortReverse" class="fa fa-caret-up"></span>
						        </td>
						        <td>
						          		Actions 
						        </td>
					        </tr>
					      </thead>
					      <tbody>
						      <tr data-ng-repeat="user in $data | orderBy:sortType:sortReverse | filter:searchFish">
						        <td>{{ user.id }}</td>
						        <td>{{ user.name }}</td>
						        <td>{{ user.estado }}</td>
						        <td>
						        	<startbuttonsbutton></startbuttonsbutton>
					               	<stopbuttonsbutton></stopbuttonsbutton>
					             </td>
						      </tr>
						    </tbody>
	                </table>
                </div>

	</div>
        
</div>