 <!-- Añadimos aqui el controlador notasController-->
<div data-ng-controller="addController">

	<div class="container no-padding">
		
		<div class="col-md-12 text-left">
			<img src="img/logocabecera.png"/>	
		</div>
                <div class="col-md-12 col-xs-12 col-ms-12 col-lg-12">
           			<form name="miFormulario" novalidate>
					  Nombre:<input type="text" ng-model="model.nombre" name="nombre" required >
					  <br>
					  Correo electrónico:<input type="text" ng-model="model.email" name="email" required>
					</form>     	
           
                </div>

	</div>
        
</div>